/INSTALL
Makefile
Makefile.in
/m4/*
/build/*
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
*.o
*.dirstamp
src/ebustrace
test/test_datatypes
.cproject
.project
.settings
.autotools
*.tar.gz
.vscode/
configure~
